<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Jcole</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="{{global.request.basepath}}/assets/css/style.css">

    <body id="container">


    
        <a href="{{ url('home') }}">
          <img src="{{ global.request.basepath }}../../web/assets/images/logo.png" alt="logo" class="logo"></a>
        <nav class="nav">
          <div class="navbar-pos">
            <a href="{{ url('home') }}" class="zindex">home</a>
            <a href="{{ url('covers') }}">covers</a>
          </div>
          <div class="border-header"></div>
        </nav>