{{ include('partials/header.twig') }}
<a href="{{ url('covers') }}"> 
<div class="return">BACK TO COVERS</div>
</a>
{% for _song in album %}
<div class="shape"></div>
<div class="title">{{ _song.title }}</div>
<div class="duration">{{ _song.duration }}</div>


{% endfor %}

{{ include('partials/footer.twig') }}