{{ include('partials/header.twig') }}

<div class="header-covers">
  <div class="number number-pos-covers">02</div>
  <div class="title-number-pos-covers">COVERS</div>
  <div class="shape1"></div>
    <div class="shape2"></div>

</div>
<div class="cover-description-1"> 4 Your Eyez Only (commonly shortened to Eyez) is the fourth studio album by American hip hop recording artist J. Cole. It was released on December 9, 2016, by Dreamville Records, Roc Nation and Interscope Records. Most of these recordings took place from 2015 to 2016, with the production on the album was primarily handled by Cole himself, alongside several other record producers such as Vinylz, Boi-1da, Cardiak, Ron Gilmore, Frank Dukes, Chargaux and Elite, among others</div>

<div class="cover-description-2">2014 Forest Hills Drive is the third studio album by American rapper J. Cole. It was released on December 9, 2014, by Roc Nation, Dreamville Records, Columbia Records, ByStorm Entertainment and Sony Music. Recording sessions took place over the whole year, while the production on the album was primarily handled by Cole himself, along with several others such as Illmind, Vinylz, Phonix Beats and Willie B. It was announced three weeks before its release and had very little marketing, with no singles or promotion taking place prior to its release.</div>
<div class="titles-covers">

  {% for _cover in covers %}
  <a href="{{ url('album', {id: _cover.id}) }}" class="titles-covers cover-size">

    </div>


  <span class="cover-size">
    {{ _cover.album }}
  </span>

  <span class="cover-size">
    <img src="{{ _cover.image }}" alt="Cover" width="100%" class="cover-size">
  </span>



  {% endfor %}


  {{ include('partials/footer.twig') }}