{{ include('partials/header.twig') }}

<h2 class="mb-4">Covers</h2>

<div class="d-flex flex-wrap">
  {% for _cover in covers %}
  <a href="{{ url('album', {id: _cover.id}) }}" class="card w-25 text-center">

    <span class="card-header">
      {{ _cover.album }}
    </span>

    <span class="card-block">
      <img src="{{ _cover.image }}" alt="Cover" width="100%">
    </span>



    {% endfor %}
    </div>

  {{ include('partials/footer.twig') }}