{{ include('partials/header.twig') }}
<img src="{{ global.request.basepath }}../../web/assets/images/jcole.png" alt="texture" class="jcole">

<div class="bg-home">
  <img src="{{ global.request.basepath }}../../web/assets/images/bg-home.png" alt="texture-home" class="bg-home-img img">
  <span class="title-jcole">J. COLE</span>
  <div class="description">Jermaine Lamarr Cole, better known by his stage name J. Cole, is an American hip hop recording <span>artist</span> and record <span>producer.</span></div>
  <div class="border border-pos"></div>
  <div class="number number-pos">01</div>
  <div class="title-number">BIOGRAPHY</div>
  <div class="border border-footer-pos"></div>
</div>

<div class="bg-bio">


<span class="bio">He was born Jermaine Lamarr Cole on January 28, 1985 in Frankfurt, Germany on to a European American mother and an African American father. He moved to Fayetteville, North Carolina with his mother when his father left the family. Cole fell into rapping at the age of 12 when his cousin from Louisiana spent the summer in Fayetteville, showing him the basics of rhyming. He was instantly hooked. From there he delved deep into the music of hip hop luminaries including Tupac Shakur, Nas and OutKast, taking from them a love for telling stories with an unbridled rigor.  </span>

</div>

<img src="{{ global.request.basepath }}../../web/assets/images/footer.png" alt="texture-footer" class="bg-footer-img">




{{ include('partials/footer.twig') }}